body{
    background-color: #f2e9e4;
}
h1{
    color:#f2e9e4;font-family:'Lucida Sans';font-size:xxx-large ;
    background-color:#9a8c98;
    padding: 5px;
    border: 10px solid #22223b; 
    margin: 25px 10px;
    text-align: center;
  }
p1{
    color:rgb(0, 0, 0);font-family:'Lucida Sans';font-size:medium;
  }
img{
    padding: 15 px;
    display: block;
    margin: auto;
}
a:link{
    color: #22223b; 
    text-decoration: none;
}
a:hover{
    color: #9a8c98s; 
    text-decoration: none;
}
a:visited{
    color: #22223b; 
    text-decoration: none;
}